src/main/mule/account-mgmt-xp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="account-mgmt-xp-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8080" />
    </http:listener-config>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" name="account-mgmt-xp-config" raml="account-mgmt-xp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="account-mgmt-xp-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="account-mgmt-xp-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" config-ref="account-mgmt-xp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="account-mgmt-xp-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="account-mgmt-xp-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" config-ref="account-mgmt-xp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\bankAccounts\(account_id):application\json:account-mgmt-xp-config">
        <logger level="INFO" message="put:\bankAccounts\(account_id):application\json:account-mgmt-xp-config" />
    </flow>
    <flow name="put:\customers\(customer_id):application\json:account-mgmt-xp-config">
        <logger level="INFO" message="put:\customers\(customer_id):application\json:account-mgmt-xp-config" />
    </flow>
    <flow name="delete:\customers\(customer_id)\bankAccounts\(account_id):account-mgmt-xp-config">
        <logger level="INFO" message="delete:\customers\(customer_id)\bankAccounts\(account_id):account-mgmt-xp-config" />
    </flow>
    <flow name="get:\customers\(customer_id)\bankAccounts:application\json:account-mgmt-xp-config">
        <logger level="INFO" message="get:\customers\(customer_id)\bankAccounts:application\json:account-mgmt-xp-config" />
    </flow>
    <flow name="get:\customers:account-mgmt-xp-config">
        <logger level="INFO" message="get:\customers:account-mgmt-xp-config" />
    </flow>
    <flow name="get:\bankAccounts\(account_id)\transfers:account-mgmt-xp-config">
        <logger level="INFO" message="get:\bankAccounts\(account_id)\transfers:account-mgmt-xp-config" />
    </flow>
    <flow name="get:\transfers:account-mgmt-xp-config">
        <logger level="INFO" message="get:\transfers:account-mgmt-xp-config" />
    </flow>
    <flow name="get:\customers\(customer_id):account-mgmt-xp-config">
        <logger level="INFO" message="get:\customers\(customer_id):account-mgmt-xp-config" />
    </flow>
    <flow name="get:\transfers\(transfer_id):account-mgmt-xp-config">
        <logger level="INFO" message="get:\transfers\(transfer_id):account-mgmt-xp-config" />
    </flow>
    <flow name="post:\customers\(customer_id)\bankAccounts:application\json:account-mgmt-xp-config">
        <logger level="INFO" message="post:\customers\(customer_id)\bankAccounts:application\json:account-mgmt-xp-config" />
    </flow>
    <flow name="post:\customers:application\json:account-mgmt-xp-config">
        <logger level="INFO" message="post:\customers:application\json:account-mgmt-xp-config" />
    </flow>
    <flow name="post:\transfers:application\json:account-mgmt-xp-config">
        <logger level="INFO" message="post:\transfers:application\json:account-mgmt-xp-config" />
    </flow>
</mule>
